<h2>Listing Users</h2>

<table class="table">
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

